.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

.App-header {
  background-color: #4CAF50;
  padding: 20px;
  color: white;
}

h1 {
  font-size: 2.5em;
}

a {
  color: #4CAF50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 15px 0;
  cursor: pointer;
}
